[submodule "Vendor/CanvasNative"]
	path = Vendor/CanvasNative
	url = https://github.com/usecanvas/CanvasNative.git
[submodule "Vendor/ISO8601"]
	path = Vendor/ISO8601
	url = https://github.com/soffes/ISO8601.git
[submodule "Vendor/Mixpanel"]
	path = Vendor/Mixpanel
	url = https://github.com/soffes/Mixpanel.git
[submodule "Vendor/OnePassword"]
	path = Vendor/OnePassword
	url = https://github.com/usecanvas/onepassword-app-extension.git
[submodule "Vendor/OperationTransport"]
	path = Vendor/OperationTransport
	url = https://github.com/usecanvas/OperationTransport.git
[submodule "Vendor/CanvasText"]
	path = Vendor/CanvasText
	url = https://github.com/usecanvas/CanvasText.git
[submodule "Vendor/SSKeychain"]
	path = Vendor/SSKeychain
	url = https://github.com/soffes/sskeychain.git
[submodule "Vendor/CanvasKit"]
	path = Vendor/CanvasKit
	url = https://github.com/usecanvas/CanvasKit.git
[submodule "Vendor/Static"]
	path = Vendor/Static
	url = https://github.com/venmo/Static.git
