github "usecanvas/CanvasKit"
github "usecanvas/longhouse-swift"

github "soffes/Mixpanel"
github "venmo/Static"
github "AgileBits/onepassword-app-extension" "add-framework-support"
github "andreamazz/AMScrollingNavbar"
