github "usecanvas/CanvasKit" "master"
github "usecanvas/CanvasText" "master"

github "soffes/GradientView"
github "soffes/Mixpanel"
github "venmo/Static"
github "AgileBits/onepassword-app-extension" "add-framework-support"
github "bitstadium/HockeySDK-iOS"
